.home-arra-section {
  background-color: #000;
  color: #fff;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-arra-header {
  font-size: 2rem;
  margin: 0;
  position: relative;
}

.home-arra-header::after {
  content: '';
  display: block;
  width: 150px;
  height: 4px;
  background-color: #FFE618;
  margin: 8px auto 0;
}

/* /styles/sections/HomeArra.css */

.home-arra-boxes {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
  justify-content: center;
  margin-top: 40px;
}

